@using DoE.Lsm.Web.Api

@model Quota.Models.IndexViewModel
@{
    ViewBag.Title = string.Concat("Account Settings" , " | " , User.Identity.Name);
}

<h2><br/><br /></h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Manage your account settings</h4>
    <hr />


    <div class="row">

        <div class="panel col-md-7">
            <dl class="dl-horizontal">
                <dt>
                </dt>
                <dd>
                    <div>
                        <div class="profile_pic">
                            <img src="/Content/Images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <br />
                        <p>Full Name    : @string.Concat(@User.Identity.GetFirstName().ToCapitilized(), " ", @User.Identity.GetSurname().ToCapitilized())</p>
                        <p>Account Type : @User.Identity.GetRole().ToCapitilized()</p>
                        <p>Emis Code    : @User.Identity.GetUserName()</p>
                        <p>@Html.ActionLink("[Change Profile Image]", "ChangePassword")</p>
                        <br/>
                        <br />
                        <br />

                    </div>
                </dd>
            </dl>
        </div>

        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt class="text-right">Password:</dt>
                <dd class="text-right">
                    [
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                </dl>
       </div>

    </div>
</div>
