@model DashboardBuilderViewModel

<div class="row">
    <!-- Dashboard Section -->
    <div class="col-md-12">
        <div class="row tile_count">

            <!-- -->
            <div class="col-md-1 col-sm-1 col-xs-1 tile_stats_count"></div>
                <!-- -->
                <!-- -->
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-folder"></i> &nbsp; Submitted</span>
                    <div class="count">3</div>
                    <span class="count_bottom"><i class="green">4% </i> &nbsp; <small>(Monday, 23 - Wednesday , 25 - 2018) </small>  </span>
                </div>
                <!-- -->
                <!-- -->
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-folder-open"></i> &nbsp; Approved </span>
                    <div class="count">1</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i>  &nbsp; <small>(Monday, 23 - Wednesday , 25 - 2018) </small> </span>
                </div>
                <!-- -->
                <!-- -->
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-times"></i> &nbsp; Rejected</span>
                    <div class="count">0</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>  &nbsp;  <small>(Monday, 23 - Wednesday , 25 - 2018) </small> </span>
                </div>
                <!-- -->
                <!-- Overall -->
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-language"></i> &nbsp; Overall</span>
                    <div class="count green">3</div>
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i>  &nbsp;  <small>@Model.ModelsStatusRequisitions </small> </span>
                </div>
                <!-- -->

            </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Quick Settings</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-calendar-o"></i><a href="#">Settings</a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i><a href="#">Subscription</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                            </li>
                            <li>
                                <i class="fa fa-area-chart"></i><a href="#">Logout</a>
                            </li>
                        </ul>

                        <div class="sidebar-widget">
                            <h4>Profile Completion</h4>
                            <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                                <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                                <span class="gauge-value pull-left">%</span>
                                <span id="goal-text" class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-7 col-sm-12 col-xs-12">
            @*@if (Model.ModelsStatusRequisitions.Equals("VALID"))
            {*@
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Books Ordering Gateway</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <span class="btn btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-default btn-sm"  role="button">@Model.BookYear</button>                                                                    
                                    @if (Model.DaysLeft <= 0)
                                    {<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#in-memory-requisitions-check" role="button" disabled>Requisitions </button>}
                                    else
                                    {<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#in-memory-requisitions-check" role="button">Requisitions </button>}
                                </span>
                            </li>
                        </ul>

                    <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="mybarChart" width="483" height="241" style="width: 483px; height: 241px;"></canvas>
                    </div>
                    <div class="x_panel ">
                        <span class="text-with-readable-faint"> <small class="pull-right"> <span class="red">@Model.DaysLeft</span> days left  to deadline (@Model.ExpiresOn) &nbsp; | &nbsp;  @Model.BookYear   &nbsp;  &nbsp; </small></span>
                    </div>
                </div>
    @*        }*@
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="widget widget_tally_box">
                    <div class="x_panel ui-ribbon-container fixed_height_390">
                        <div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon">
                                @Model.DaysLeft Days
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>LTSM N&S</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div style="text-align: center; margin-bottom: 17px">
                                <span class="chart" data-percent="14">
                                    <span class="percent">14</span>
                                    <canvas height="110" width="110"></canvas>
                                </span>
                            </div>

                            <h3 class="name_title">Deficit</h3>
                            <p>Short Description</p>

                            <div class="divider"></div>

                            <p>If you've decided to go in development mode and tweak all of this a bit, there are few things you should do.</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- In-memory requisitons Modal Dialog -->
<div class="modal fade" id="in-memory-requisitions-check" tabindex="-1" role="dialog" aria-labelledby="in-memory-requisitions-check">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                 @Html.ActionLink("Create New", "Index", "CaptureRequisitions", new { Area = "Requisitions" },  new { @id = "", @class = string.Concat("btn", ((Model.InMemoryRequisitions == 1) ? " btn-success " : " btn-default "), "btn-sm pull-right") })
            </div>
            <div class="modal-body">
                <div  class="x_content">
                @if (Model.InMemoryRequisitions == 0)
                {
                    <span class="alert alert-success col-md-12 text-center" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        There was no previous requisition(s) that was found.
                    </span>                  
                }
                else
                {
                        <div class="">
                            <p>We have noticed that you have a requisition that you have not submitted. Do you wish to continue with this requisition?</p>
                            <div class="table-responsive">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"><small></small> </th>
                                            <th class="column-title">Requistion</th>
                                            <th class="column-title"><br /> </th>
                                            <th class="column-title">Last Modified On</th>
                                            <th class="column-title">Items</th>
                                            <th class="column-title">Total Price</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr class="even pointer">
                                            <td>1. </td>
                                            <td>121000040</td>
                                            <td class="last">
                                                <button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-folder-open"></span></button>
                                            </td>
                                            <td>23 May 2018</td>
                                            <td>12</td>
                                            <td><span class="text-body">R78 000</span></td>
                                        </tr>
                                        <tr class="even pointer">
                                            <td>2. </td>
                                            <td>121000040</td>
                                            <td class="last">
                                                <button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-folder-open"></span></button>
                                            </td>
                                            <td>23 May 2018</td>
                                            <td>12</td>
                                            <td><span class="text-body">R78 000</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
          
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!--End-->

